/* form component */
.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.form label {
  margin-top: 0.5rem;
}

.form button {
  height: 40px;
  margin-top: 2rem;
  background-color: var(--primary);
  
}

@media only screen and (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}
