/* Nav Component */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  top: 0px;
  background-color: #190656;
  padding: 0 2rem;
  z-index: 999;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.brandTitle {
  display: flex;
  align-items: center;
}
.brand a {
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
}
.brand a:hover {
  color: #fff;
  opacity: 1;
}
.brand img {
  width: 46px;
  height: auto;
  margin: 5px 5px;
}

Nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 5px;
}
.menu ul li {
  list-style: none;
  margin: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.menu ul li a:hover {
  color: #fff;
  opacity: 1;
}
.menu ul li:last-child a {
  color: var(--white);
  margin-right: 0px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.menu ul li:nth-last-child(2) a {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  color: var(--primary);
}
.toggle {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .toggle {
    display: block;
  }
  nav {
    grid-template-columns: 1fr;
  }
  .brand a {
    font-size: 14px;
  }
  .brand img {
    width: 48px;
  }
  .menu ul {
    display: none;
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 0 0 20px;
    position: fixed;
    top: 53px;
    right: -10px;
    width: 250px;
    height: 100vh;
    background-color: blueviolet;
  }
  .menu ul li:last-child {
    margin-top: 20px;
  }
  .menu ul li:nth-last-child(2) {
    margin-top: 20px;
  }
}
